body {
	background-color: #fff;
}

.scroll-smooth {
	scroll-behavior: smooth;
}

.container {
	max-width: 1440px;
	margin: 150px auto 0;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.back-button {
	display: flex;
	align-items: center;
	justify-content: center;
}

@import url(./movies.css);
@import url("./movie.css");
@import url(./pagination.css);
